<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="false"/>

  <env name="ROS_IP" value="192.168.1.18"/>
  <env name="ROS_MASTER_URI" value="http://192.168.1.18:11311"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find myrobot2_gazebo)/worlds/myrobot2.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="gui" value="true"/>
  </include>

  <param name="robot_description"
         command="cat $(find myrobot2_description)/urdf/racecar.urdf"/>

  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -param robot_description -model myrobot2 -x 0 -y 0 -z 0"
      output="screen" respawn="false"
      launch-prefix="bash -c 'sleep 3; $0 $@'"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher"
      type="joint_state_publisher" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
      type="robot_state_publisher" output="screen"
      launch-prefix="bash -c 'sleep 1; $0 $@'"/>

  <node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find myrobot2_gazebo)/rviz/myrobot2.rviz" output="screen"
      launch-prefix="bash -c 'sleep 4; $0 $@'"/>
</launch>